/*Imports*/
/*@import url();*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* dart-sass/sass.bat assets/scss:assets/css --watch */
/* ------ GLOBAL ------ */
* {
  box-sizing: border-box;
}
*:hover {
  transition: all 0.2s ease 0s;
}

/* round to 10px */
html {
  font-size: 62.5%;
}

/* Settings for p tags */
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.3;
  color: #7D7D7D;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  font-size: 1.6rem;
  color: #000000;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.shadow {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.btn {
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  transition-duration: 0.4s;
}
.btn:hover {
  border: 2px solid #008CBA;
  background-color: #FFFFFF;
  color: #000000;
}

/* ------ /GLOBAL ------ */
.fa-wifi {
  transform: rotate(45deg);
}

.black {
  color: #000000;
  margin: 5px 0;
}

/* ------ HEADER ------ */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
@media (min-width: 662px) {
  header {
    flex-direction: row;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.socials .date {
  text-align: center;
}
.socials .half-line {
  margin: 0 auto;
  width: 100%;
  background-color: #F4F4F4;
  height: 3px;
  border-left: 4em solid #000000;
}
.socials .social-icons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.socials .social-icons i {
  color: #000000;
  font-size: 1.3rem;
}
@media (min-width: 662px) {
  .socials {
    width: 30%;
  }
}

.logo-header {
  width: 50%;
  margin: 0 auto;
}
.logo-header img {
  width: 100%;
  height: auto;
}
@media (min-width: 662px) {
  .logo-header {
    width: 40%;
    margin: 0 75px;
  }
}

.login-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}
.login-register a {
  color: #7D7D7D;
  border-bottom: 1px solid lightgrey;
  padding: 5px;
}
.login-register a:hover {
  color: #333333;
  border-bottom: 1px solid #333333;
}
.login-register .lang-selector {
  color: #7D7D7D;
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 5px;
}
.login-register .lang-selector:hover {
  color: #333333;
  border-bottom: 1px solid #333333;
}
@media (min-width: 662px) {
  .login-register {
    width: 30%;
  }
}

/* ------ /HEADER ------ */
/* ------ MAIN ------ */
main {
  width: 100%;
}
main #main-smaller {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.top-news {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.top-news article {
  margin: 10px 0;
  position: relative;
}
.top-news article .article-img {
  width: 100%;
}
.top-news article .article-img img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
.top-news article .article-img .article-text {
  position: absolute;
  bottom: 0;
  background-color: #FFF;
  padding: 0 8px;
  width: 90%;
  right: 5%;
  left: 5%;
}
.top-news article .article-img .article-text .share-comments {
  display: none;
}
.top-news article .article-img .article-text .share-comments .fa-share-alt-square {
  color: #C7C7C7;
  background-color: #FFF;
  padding: 2px;
  font-size: 1.8rem;
}
.top-news article .article-img .article-text .share-comments .fa-comments {
  color: #FFF;
  background-color: #C7C7C7;
  border-radius: 3px;
  padding: 2px;
}
.top-news article .article-img .article-text .share-comments .share-comments-button {
  color: #7D7D7D;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}
.top-news article .article-img .article-text .share-comments .share-comments-button span {
  margin: 0 2px;
}
@media (min-width: 400px) {
  .top-news article .article-img .article-text .share-comments {
    display: flex;
  }
}
.top-news .top1 .tag {
  background-color: #F72300;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 25px;
  z-index: 2;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: -36px;
  position: absolute;
  width: 80px;
  height: auto;
}
.top-news .top2 .tag {
  background-color: #5F35AC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 25px;
  z-index: 2;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: -36px;
  position: absolute;
  width: 80px;
  height: auto;
}
.top-news .top3 .tag {
  background-color: #2196F3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 25px;
  z-index: 2;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: -36px;
  position: absolute;
  width: 80px;
  height: auto;
}

/* ------ CATEGORIES ------ */
.category {
  display: flex;
  align-items: center;
}
.category .category-title {
  width: 30%;
}

.category-mobile .half-line {
  margin: 0 auto;
  width: 100%;
  background-color: #F4F4F4;
  height: 3px;
  border-left: 4em solid #5F35AC;
}
.category-mobile .tag {
  background-color: #5F35AC;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 25px;
  z-index: 2;
  color: #FFFFFF;
  text-transform: none;
  margin: 5px 0;
}

.category-tablet .half-line {
  margin: 0 auto;
  width: 100%;
  background-color: #F4F4F4;
  height: 3px;
  border-left: 4em solid #EA6060;
}
.category-tablet .tag {
  background-color: #EA6060;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 25px;
  z-index: 2;
  color: #FFFFFF;
  text-transform: none;
  margin: 5px 0;
}

/* ------ /CATEGORIES ------ */
/* ------ SECTIONS ------ */
article {
  margin: 5px 0;
  width: 100%;
}
article .article-img {
  width: 100%;
  display: flex;
  flex-direction: column;
}
article .article-img img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
article .article-img .article-text-cat {
  background-color: #FFF;
  width: 100%;
}
article .article-img .article-text-cat .share-comments {
  display: none;
}
article .article-img .article-text-cat .share-comments .fa-share-alt-square {
  color: #C7C7C7;
  background-color: #FFF;
  padding: 2px;
  font-size: 1.8rem;
}
article .article-img .article-text-cat .share-comments .fa-comments {
  color: #FFF;
  background-color: #C7C7C7;
  border-radius: 3px;
  padding: 2px;
}
article .article-img .article-text-cat .share-comments .share-comments-button {
  color: #7D7D7D;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}
article .article-img .article-text-cat .share-comments .share-comments-button span {
  margin: 0 2px;
}
@media (min-width: 400px) {
  article .article-img .article-text-cat .share-comments {
    display: flex;
  }
}

.big-section {
  display: flex;
}

.small-section {
  display: flex;
}
.small-section .article-img {
  flex-direction: row;
}
.small-section .article-img div:nth-child(1) {
  width: 35%;
}
.small-section .article-img .article-text-cat {
  width: 65%;
  padding: 0 5px;
}
.small-section .article-img .article-text-cat h3 {
  font-size: 1.4rem;
}

.full-line-container {
  display: flex;
  align-items: center;
}
.full-line-container .full-line {
  flex-grow: 1;
  height: 2px;
  background-color: #F1F1F1;
}
.full-line-container .more-news {
  margin: 0 10px;
  text-transform: uppercase;
}

/* ------ /SECTIONS ------ */
/* ------ /MAIN ------ */
/* ------ FOOTER ------ */
/* ------ /FOOTER ------ */
/* ------ MEDIA QUERIES ------ */
/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */
.clear {
  clear: both;
}

/*# sourceMappingURL=style.css.map */
