$fs_text: 1.3rem;
$fs_title_h2: 2.2rem;
$c_primary: #008CBA;
$c_success: #4CAF50;
$c_danger: #f44336;
$c_black: #555555;

$margin-small: 5px 0;
$margin-large: 15px 0;
$black-custom: #333333;
$text-color: #7D7D7D;
$c_category_design: #2196F3;
$c_category_camera: #FF8400;
$c_category_gadgets: #000000;
$c_category_tablet: #EA6060;
$c_category_mobile: #5F35AC;
$uppercase_true: uppercase;
$uppercase_false: none;